// app global css in SCSS form
body{
    background-color: grey;
    color: #373737
}
.brx{
    border: 1px red solid;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(228, 225, 225, 0.3);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ebebeb;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .fontgrey{
    color: #837F7F;
  }
  .font24{
    font-size:24px;
  }
  .font10{
    font-size: 10px;
    color:#837F7F
  }
  .font16Grey{
    color:#837F7F;
    line-height: 28px;
  }
  .backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }
 .activeBtn{
  background-color: #287377;
  color:white;
 }
 .shortBtn{
  width: 120px
 }
 .longBtn{
  width: 160px
 }
 .headTable{
  background-color: rgba(40,115,119,0.2);
 }
 .textCenter{
  text-align: center;
 }
 .zebraLine{
  background-color: rgba(221,221,221,0.4);
 }